menu "UPM"
config UPM
    bool
    prompt "UPM Support"
    select NEWLIB_LIBC
    default n
    help
        This option enables the UPM sensor libraries

source "ext/lib/upm/src/a110x/Kconfig"
source "ext/lib/upm/src/ad8232/Kconfig"
source "ext/lib/upm/src/apa102/Kconfig"
source "ext/lib/upm/src/bh1750/Kconfig"
source "ext/lib/upm/src/collision/Kconfig"
source "ext/lib/upm/src/dfrorp/Kconfig"
source "ext/lib/upm/src/dfrph/Kconfig"
source "ext/lib/upm/src/emg/Kconfig"
source "ext/lib/upm/src/flex/Kconfig"
source "ext/lib/upm/src/gas/Kconfig"
source "ext/lib/upm/src/gp2y0a/Kconfig"
source "ext/lib/upm/src/gsr/Kconfig"
source "ext/lib/upm/src/hka5/Kconfig"
source "ext/lib/upm/src/joystick12/Kconfig"
source "ext/lib/upm/src/ldt0028/Kconfig"
source "ext/lib/upm/src/led/Kconfig"
source "ext/lib/upm/src/light/Kconfig"
source "ext/lib/upm/src/loudness/Kconfig"
source "ext/lib/upm/src/m24lr64e/Kconfig"
source "ext/lib/upm/src/mic/Kconfig"
source "ext/lib/upm/src/mma7361/Kconfig"
source "ext/lib/upm/src/moisture/Kconfig"
source "ext/lib/upm/src/mpr121/Kconfig"
source "ext/lib/upm/src/mq303a/Kconfig"
source "ext/lib/upm/src/nmea_gps/Kconfig"
source "ext/lib/upm/src/o2/Kconfig"
source "ext/lib/upm/src/relay/Kconfig"
source "ext/lib/upm/src/rotary/Kconfig"
source "ext/lib/upm/src/servo/Kconfig"
source "ext/lib/upm/src/sht1x/Kconfig"
source "ext/lib/upm/src/slide/Kconfig"
source "ext/lib/upm/src/temperature/Kconfig"
source "ext/lib/upm/src/tsl2561/Kconfig"
source "ext/lib/upm/src/ttp223/Kconfig"
source "ext/lib/upm/src/urm37/Kconfig"
source "ext/lib/upm/src/utilities/Kconfig"
source "ext/lib/upm/src/vdiv/Kconfig"
source "ext/lib/upm/src/water/Kconfig"
source "ext/lib/upm/src/yg1006/Kconfig"
source "ext/lib/upm/src/biss0001/Kconfig"
source "ext/lib/upm/src/bmi160/Kconfig"
endmenu
